<form action="/dashboard/new-user" method="post">
  <label>
    Username: 
    <input 
      type="text" 
      name="username" 
      id="username"
      value="<%= username %>"
    >
  </label>
  <label>Password: <input type="password" name="password" id="password" value="<%= password %>"></label>
  <label>Confirm Password: <input type="password" name="confirmPassword" id="confirmPassword" value="<%= confirmPassword %>"></label>
  <label>Access: <input type="text" name="access" id="access" value="<%= access %>"></label>
  <button type="submit">Create User</button>
  <% if (errorMessage) { %>
    <p><%= errorMessage %></p>
  <% } %>
</form>